/* PRESENTATION DU MENU EN HAUT */

nav {
    width:100%;
    margin:0 auto;
    position:sticky;
    top:0px;
    opacity:0.9;
}

nav ul {
    list-style-type: none;
    padding:0px;
    margin:0px;
    opacity: 0px;
}

nav li {
    display:inline-block;
    width:100px;
    height:100px;
    margin:0px;
    padding:0px;
    text-align:center;
    line-height:40px;
}

nav li a {
    text-decoration:none;
    color:rgb(189, 45, 133);
}

nav ul li {
    float:left;
    width:12%;
    text-align:center;
}

nav ul::after {
    content:"";
    display:table;
    clear:both;
}

nav a {
    display:block;
    text-decoration:none;
    color:black;
    border-bottom:2px solid transparent;
    padding:0px 0px;
}

nav a:hover {
    border-bottom:10px solid royalblue;

    background-color:RGBa(200,200,200,0.1);
}

/* MODIFICATIONS BASIQUES */

h1 {
    color: royalblue;
}

.uSommaire {
    position: relative;
    color: royalblue;
    width: 62%;
    float: right;
}

.textsommaire {
    width: 61%;
    float: right;
    text-align: justify;
}

li {
    font-size: 18px;
}

a {
    color: black;
    text-decoration: none;
}

.alignerlespoints {
    color: royalblue;
    width: 330px;
    text-align: left;
}

h2 {
    color: royalblue;
    
}

.justifierpresentation {
    text-align: middle;
}

/* MODIFICATION DU MENU */

.menu {
    float: left;
    width: 100%;
    height: 60px;
    margin-top: 0%;
}

/* CREER UN ESPACE */

.spacer {
    height: 50px;
    width: 100%;
}

/* IMAGE DE FOND */

.picturebackgroundsommaire {
    background-image:url(photo3bis.png);
    background-size: cover;
    
}

.picturebackgroundpresent {
    background-image: url(photo1.jpg);
    background-size: cover;
    color: whitesmoke;
    text-align: left;
}

.picturebackgroundvideo {
    background-image: url(photo6.png);
    background-size: cover;
    background-position-y: 55%;
    text-align: right;
    color: white;
    margin-right: 2%;
}

.pictbackpink {

    background-image: url(fond4.png);
    background-size: cover;
}

/* LES CV */

.divCV1 {

    padding-top: 8%;
}

.divCV2 {
    text-align: center; 
    display: flex;
    justify-content: center;
}

.h1CV {
    color: royalblue; 
}

/* FORMULAIRE DE CONTACT */

form {
    
    padding: 3%;
    padding-top: 7%;
}
  
div {
    margin-top: 40px;
}
  
label {
    
    display: inline-block;
    
}
  
textarea {

    vertical-align: top;
    height: 100px;
    width: 300px;
}
  
.button {
    
    padding-left: 90px; 
}
  
button {

    margin-left: 12px;
}

/* IMAGES REGLAGES */

.image {

    padding-top: 16%;
}

/* TABLEAU */

.pictbacktabl {

    background-image: url(photo4.png);
    background-size: cover;
}

.retour {

    padding-inline-end: 55%;
    text-align: left;
}

.retourindex {

    padding-inline-end: 55%;
    text-align: left;
    margin-top: 35%;
}

.retourcontact {

    padding-inline-end: 55%;
    text-align: left;
    margin-top: 3%;
}

.retourvideo {

    padding-inline-end: 100%;
    text-align: left;     
}

.retourtableau {

    padding-inline-end: 100%;
    text-align: left;     
}

